@charset "utf-8";
/* CSS Document */

body{
	background: white;
	color: white;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
/* angivelse af design for headeren */
header{
	background-color: #7a7a7a;
	opacity: 0,9;
	padding:20px;
	height:80px;
	text-align: right;
}